# Compiled class files
*.class
.classpath
.springBeans

# Mobile tools for java (J2ME)
.mtj.tmp/

*.class
*.classpath
*.project
*.springBean
log/
test-output/

# Package Files
*.jar
*.war
*.zip
*.ear
*.tar.gz
*.rar
*.swp
*.log
*.ctxt

# Nodejs local modulse
.tags*
.idea
*.iml
.gradle/
.settings/
**/target/

!**/com/myspring/mycontext/log/